#header {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  margin-bottom: 2rem;
  height: 77px;
}

@media only screen and (max-width: 600px) {
  #header {
    height: 130px;
  }
}

.logo {
  max-height: 55px;
}

#search-field {
  background-color: #fafafa;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  margin-top: 0.75rem;
}

.icons {
  height: 32px;
}